.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.auth-container form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-container p {
  text-align: center;
  color: #007bff;
  font-size: 14px;
  margin-bottom: 10px;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.auth-container input:focus {
  border-color: #007bff;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}

.auth-container button:hover {
  background-color: #022739;
}

.auth-container .back-to-login,
.auth-container .back-to-forgot-password {
  text-align: center;
}

.auth-container .back-to-login button,
.auth-container .back-to-forgot-password button {
  background-color: transparent;
  color: #007bff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.auth-container .error-message {
  color: #e53e3e;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

/* Message when resetting password or sending link */
.auth-container .message {
  color: #28a745;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .auth-container {
    padding: 10px;
  }

  .auth-container form {
    padding: 15px;
    width: 100%;
  }
}
